[Desktop Entry]
Version=1.0
Type=Application
Name=Sprinkler Start
Comment=Start Deer Detection System and open dashboard
Exec=/bin/bash -c "cd /home/gvanderwoerd/Desktop/projects/deer-detection-system && ./start.sh"
Icon=applications-games
Terminal=true
Categories=Utility;Application;
StartupNotify=true
